arm/logic-app.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "logicAppName": {
            "type": "string",
            "defaultValue": "la-rbac-changes-report",
            "metadata": { "description": "Name of the Logic App" }
        },
        "location": {
            "type": "string",
            "defaultValue": "[resourceGroup().location]",
            "metadata": { "description": "Azure region for deployment" }
        },
        "logAnalyticsWorkspaceId": {
            "type": "string",
            "metadata": { "description": "Resource ID of the central Log Analytics workspace" }
        },
        "logAnalyticsConnectionName": {
            "type": "string",
            "defaultValue": "azuremonitorlogs",
            "metadata": { "description": "Name for the Log Analytics API connection" }
        },
        "office365ConnectionName": {
            "type": "string",
            "defaultValue": "office365",
            "metadata": { "description": "Name for the Office 365 API connection" }
        },
        "recipients": {
            "type": "string",
            "metadata": { "description": "Semicolon-separated list of email recipients" }
        },
        "senderAddress": {
            "type": "string",
            "metadata": { "description": "Shared mailbox or user to send email from (leave empty for connected user)" }
        },
        "lookbackDays": {
            "type": "int",
            "defaultValue": 30,
            "metadata": { "description": "Number of days to look back for RBAC changes" }
        },
        "recurrenceFrequency": {
            "type": "string",
            "defaultValue": "Month",
            "allowedValues": ["Month", "Week", "Day"],
            "metadata": { "description": "How often to run the report" }
        },
        "recurrenceInterval": {
            "type": "int",
            "defaultValue": 1,
            "metadata": { "description": "Interval for recurrence" }
        },
        "recurrenceStartTime": {
            "type": "string",
            "defaultValue": "2026-06-01T08:00:00Z",
            "metadata": { "description": "When to start the recurrence schedule" }
        }
    },
    "variables": {
        "office365ConnectionId": "[resourceId('Microsoft.Web/connections', parameters('office365ConnectionName'))]",
        "kqlQuery": "[concat('let lookback = ', string(parameters('lookbackDays')), 'd;\nlet privileged_roles = dynamic([\"Owner\", \"Contributor\", \"User Access Administrator\"]);\nAzureActivity\n| where TimeGenerated >= ago(lookback)\n| where OperationNameValue in~ (\n    \"Microsoft.Authorization/roleAssignments/write\",\n    \"Microsoft.Authorization/roleAssignments/delete\",\n    \"Microsoft.Authorization/roleAssignmentScheduleRequests/write\",\n    \"Microsoft.Authorization/roleEligibilityScheduleRequests/write\",\n    \"Microsoft.Authorization/elevateAccess/action\"\n  )\n| where ActivityStatusValue =~ \"Success\"\n| extend ChangeType = case(\n    OperationNameValue has \"delete\", \"Removed\",\n    OperationNameValue has \"roleAssignmentScheduleRequests\", \"PIM Activation\",\n    OperationNameValue has \"roleEligibilityScheduleRequests\", \"PIM Eligibility\",\n    OperationNameValue has \"elevateAccess\", \"Elevate Access\",\n    \"Added\"\n  )\n| extend ParsedProps = parse_json(Properties)\n| extend RequestBody = parse_json(tostring(ParsedProps.requestbody))\n| extend RoleDefinitionId = coalesce(tostring(RequestBody.properties.roleDefinitionId), tostring(ParsedProps.roleDefinitionId), \"\")\n| extend PrincipalId = coalesce(tostring(RequestBody.properties.principalId), tostring(ParsedProps.principalId), \"\")\n| extend PrincipalType = coalesce(tostring(RequestBody.properties.principalType), tostring(ParsedProps.principalType), \"\")\n| extend Scope = coalesce(tostring(RequestBody.properties.scope), tostring(ParsedProps.scope), _ResourceId)\n| extend RoleDefShortId = extract(@\"/roleDefinitions/(.+)$\", 1, RoleDefinitionId)\n| join kind=leftouter (\n    AzureActivity\n    | where OperationNameValue =~ \"Microsoft.Authorization/roleDefinitions/read\"\n    | extend RoleName = tostring(parse_json(Properties).responseBody.properties.roleName)\n    | extend RoleId = extract(@\"/roleDefinitions/(.+)$\", 1, _ResourceId)\n    | where isnotempty(RoleName)\n    | distinct RoleId, RoleName\n  ) on $left.RoleDefShortId == $right.RoleId\n| extend RoleName = coalesce(RoleName, RoleDefShortId, \"Unknown\")\n| extend IsPrivileged = RoleName in (privileged_roles)\n| project Timestamp=TimeGenerated, SubscriptionName=SubscriptionId, SubscriptionId, ChangeType, RoleName, IsPrivileged, PrincipalId, PrincipalType, Scope, InitiatedBy=Caller, CorrelationId, Source=iff(ChangeType startswith \"PIM\", \"PIM\", \"DirectAssignment\")\n| order by IsPrivileged desc, Timestamp desc')]"
    },
    "resources": [
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[parameters('office365ConnectionName')]",
            "location": "[parameters('location')]",
            "properties": {
                "displayName": "Office 365 - RBAC Report",
                "api": {
                    "id": "[subscriptionResourceId('Microsoft.Web/locations/managedApis', parameters('location'), 'office365')]"
                }
            }
        },
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2019-05-01",
            "name": "[parameters('logicAppName')]",
            "location": "[parameters('location')]",
            "dependsOn": [
                "[variables('office365ConnectionId')]"
            ],
            "identity": {
                "type": "SystemAssigned"
            },
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        },
                        "recipients": {
                            "defaultValue": "[parameters('recipients')]",
                            "type": "String"
                        },
                        "senderAddress": {
                            "defaultValue": "[parameters('senderAddress')]",
                            "type": "String"
                        },
                        "lookbackDays": {
                            "defaultValue": "[parameters('lookbackDays')]",
                            "type": "Int"
                        }
                    },
                    "triggers": {
                        "Recurrence": {
                            "type": "Recurrence",
                            "recurrence": {
                                "frequency": "[parameters('recurrenceFrequency')]",
                                "interval": "[parameters('recurrenceInterval')]",
                                "startTime": "[parameters('recurrenceStartTime')]",
                                "timeZone": "UTC"
                            }
                        }
                    },
                    "actions": {
                        "Run_KQL_Query": {
                            "type": "Http",
                            "inputs": {
                                "method": "POST",
                                "uri": "[concat('https://api.loganalytics.io/v1/workspaces/', reference(parameters('logAnalyticsWorkspaceId'), '2022-10-01').customerId, '/query')]",
                                "headers": {
                                    "Content-Type": "application/json"
                                },
                                "body": {
                                    "query": "[variables('kqlQuery')]"
                                },
                                "authentication": {
                                    "type": "ManagedServiceIdentity",
                                    "audience": "https://api.loganalytics.io"
                                }
                            },
                            "runAfter": {}
                        },
                        "Transform_Results": {
                            "type": "Select",
                            "inputs": {
                                "from": "@body('Run_KQL_Query')?['tables']?[0]?['rows']",
                                "select": {
                                    "Timestamp": "@item()?[0]",
                                    "SubscriptionName": "@item()?[1]",
                                    "SubscriptionId": "@item()?[2]",
                                    "ChangeType": "@item()?[3]",
                                    "RoleName": "@item()?[4]",
                                    "IsPrivileged": "@item()?[5]",
                                    "PrincipalId": "@item()?[6]",
                                    "PrincipalType": "@item()?[7]",
                                    "Scope": "@item()?[8]",
                                    "InitiatedBy": "@item()?[9]",
                                    "CorrelationId": "@item()?[10]",
                                    "Source": "@item()?[11]"
                                }
                            },
                            "runAfter": {
                                "Run_KQL_Query": ["Succeeded"]
                            }
                        },
                        "Create_CSV_Table": {
                            "type": "Table",
                            "inputs": {
                                "from": "@body('Transform_Results')",
                                "format": "CSV"
                            },
                            "runAfter": {
                                "Transform_Results": ["Succeeded"]
                            }
                        },
                        "Count_Results": {
                            "type": "Compose",
                            "inputs": "@length(body('Transform_Results'))",
                            "runAfter": {
                                "Transform_Results": ["Succeeded"]
                            }
                        },
                        "Filter_Privileged": {
                            "type": "Query",
                            "inputs": {
                                "from": "@body('Transform_Results')",
                                "where": "@equals(item()?['IsPrivileged'], 'True')"
                            },
                            "runAfter": {
                                "Transform_Results": ["Succeeded"]
                            }
                        },
                        "Count_Privileged": {
                            "type": "Compose",
                            "inputs": "@length(body('Filter_Privileged'))",
                            "runAfter": {
                                "Filter_Privileged": ["Succeeded"]
                            }
                        },
                        "Check_Results": {
                            "type": "If",
                            "expression": {
                                "and": [
                                    {
                                        "greater": ["@outputs('Count_Results')", 0]
                                    }
                                ]
                            },
                            "actions": {
                                "Send_Email_with_CSV": {
                                    "type": "ApiConnection",
                                    "inputs": {
                                        "host": {
                                            "connection": {
                                                "name": "@parameters('$connections')['office365']['connectionId']"
                                            }
                                        },
                                        "method": "post",
                                        "path": "/v2/Mail",
                                        "body": {
                                            "To": "@parameters('recipients')",
                                            "From": "@parameters('senderAddress')",
                                            "Subject": "RBAC Changes Report - @{utcNow('yyyy-MM-dd')} (@{outputs('Count_Results')} changes, @{outputs('Count_Privileged')} privileged)",
                                            "Body": "<html><body style='font-family: Segoe UI, Arial, sans-serif; color: #333;'><h2>Azure RBAC Changes Report</h2><p><strong>Period:</strong> Last @{parameters('lookbackDays')} days</p><p><strong>Source:</strong> Central Log Analytics Workspace</p><h3>Summary</h3><table style='border-collapse: collapse; width: 400px;'><tr style='background-color: #f2f2f2;'><td style='padding: 8px; border: 1px solid #ddd;'><strong>Total Changes</strong></td><td style='padding: 8px; border: 1px solid #ddd;'>@{outputs('Count_Results')}</td></tr><tr style='background-color: #fff3cd;'><td style='padding: 8px; border: 1px solid #ddd;'><strong>Privileged Role Changes</strong></td><td style='padding: 8px; border: 1px solid #ddd; color: #d63384; font-weight: bold;'>@{outputs('Count_Privileged')}</td></tr></table><p style='margin-top: 20px;'>Full details are in the attached CSV file.</p><p style='color: #666; font-size: 12px;'>Generated by RBAC Changes Automation Logic App.</p></body></html>",
                                            "IsHtml": true,
                                            "Attachments": [
                                                {
                                                    "Name": "RBAC-Changes-Report_@{utcNow('yyyy-MM-dd')}.csv",
                                                    "ContentBytes": "@{base64(body('Create_CSV_Table'))}",
                                                    "ContentType": "text/csv"
                                                }
                                            ]
                                        }
                                    },
                                    "runAfter": {}
                                }
                            },
                            "else": {
                                "actions": {
                                    "Send_No_Changes_Email": {
                                        "type": "ApiConnection",
                                        "inputs": {
                                            "host": {
                                                "connection": {
                                                    "name": "@parameters('$connections')['office365']['connectionId']"
                                                }
                                            },
                                            "method": "post",
                                            "path": "/v2/Mail",
                                            "body": {
                                                "To": "@parameters('recipients')",
                                                "From": "@parameters('senderAddress')",
                                                "Subject": "RBAC Changes Report - @{utcNow('yyyy-MM-dd')} - No Changes Detected",
                                                "Body": "<html><body style='font-family: Segoe UI, Arial, sans-serif; color: #333;'><h2>Azure RBAC Changes Report</h2><p><strong>Period:</strong> Last @{parameters('lookbackDays')} days</p><p><strong>Source:</strong> Central Log Analytics Workspace</p><p style='color: #28a745; font-weight: bold;'>No RBAC changes were detected in the reporting period.</p><p style='color: #666; font-size: 12px;'>Generated by RBAC Changes Automation Logic App.</p></body></html>",
                                                "IsHtml": true
                                            }
                                        },
                                        "runAfter": {}
                                    }
                                }
                            },
                            "runAfter": {
                                "Create_CSV_Table": ["Succeeded"],
                                "Count_Results": ["Succeeded"],
                                "Count_Privileged": ["Succeeded"]
                            }
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "office365": {
                                "connectionId": "[variables('office365ConnectionId')]",
                                "connectionName": "[parameters('office365ConnectionName')]",
                                "id": "[subscriptionResourceId('Microsoft.Web/locations/managedApis', parameters('location'), 'office365')]"
                            }
                        }
                    }
                }
            }
        }
    ],
    "outputs": {
        "logicAppId": {
            "type": "string",
            "value": "[resourceId('Microsoft.Logic/workflows', parameters('logicAppName'))]"
        },
        "logicAppName": {
            "type": "string",
            "value": "[parameters('logicAppName')]"
        }
    }
}
